<a href="https://colab.research.google.com/github/abhirami7/python_lead_conversion_project/blob/main/df_banking.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/dataset.csv')

In [ ]:
df

,ID,Gender,DOB,Lead_Creation_Date,City_Code,City_Category,Employer_Code,Employer_Category1,Employer_Category2,Monthly_Income,...,Contacted,Source,Source_Category,Existing_EMI,Loan_Amount,Loan_Period,Interest_Rate,EMI,Var1,Approved
0,APPC90493171225,Female,23/07/79,15/07/16,C10001,A,COM0044082,A,4.0,2000.0,...,N,S122,G,0.0,NaN,NaN,NaN,NaN,0,0
1,APPD40611263344,Male,07/12/86,04/07/16,C10003,A,COM0000002,C,1.0,3500.0,...,Y,S122,G,0.0,20000.0,2.0,13.25,953.0,10,0
2,APPE70289249423,Male,10/12/82,19/07/16,C10125,C,COM0005267,C,4.0,2250.0,...,Y,S143,B,0.0,45000.0,4.0,NaN,NaN,0,0
3,APPF80273865537,Male,30/01/89,09/07/16,C10477,C,COM0004143,A,4.0,3500.0,...,Y,S143,B,0.0,92000.0,5.0,NaN,NaN,7,0
4,APPG60994436641,Male,19/04/85,20/07/16,C10002,A,COM0001781,A,4.0,10000.0,...,Y,S134,B,2500.0,50000.0,2.0,NaN,NaN,10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69708,APPU90955789628,Female,31/07/83,30/09/16,C10006,A,COM0000010,A,1.0,4900.0,...,N,S122,G,0.0,NaN,NaN,NaN,NaN,10,0
69709,APPV80989824738,Female,27/01/71,30/09/16,C10116,C,COM0045789,A,4.0,7190.1,...,N,S122,G,1450.0,NaN,NaN,NaN,NaN,7,0
69710,APPW50697209842,Female,01/02/92,30/09/16,C10022,B,COM0013284,C,4.0,1600.0,...,Y,S122,G,0.0,24000.0,4.0,35.50,943.0,2,0
69711,APPY50870035036,Male,27/06/78,30/09/16,C10002,A,COM0000098,C,3.0,9893.0,...,Y,S122,G,1366.0,80000.0,5.0,NaN,NaN,10,0
69712,APPZ60733046119,Male,31/12/89,30/09/16,C10003,A,COM0000056,A,1.0,4230.0,...,Y,S122,G,0.0,69000.0,4.0,13.99,1885.0,10,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  object
 3   Lead_Creation_Date                   69713 non-null  object
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
 21  Approved                             69713 non-null  int64
dtypes: float64(7), int64(2), object(13)
memory usage: 11.7+ MB

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.isnull().sum()

ID                                         0
Gender                                     0
DOB                                       15
Lead_Creation_Date                         0
City_Code                                814
City_Category                            814
Employer_Code                           4018
Employer_Category1                      4018
Employer_Category2                      4298
Monthly_Income                             0
Customer_Existing_Primary_Bank_Code     9391
Primary_Bank_Type                       9391
Contacted                                  0
Source                                     0
Source_Category                            0
Existing_EMI                              51
Loan_Amount                            27709
Loan_Period                            27709
Interest_Rate                          47437
EMI                                    47437
Var1                                       0
Approved                                   0
dtype: int64

In [ ]:
df['Lead_Creation_Date'] = pd.to_datetime(df['Lead_Creation_Date'], format = '%m%d%Y')
df['DOB'] = pd.to_datetime(df['DOB'], format = '%d/%m/%y')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69713 entries, 0 to 69712
Data columns (total 22 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ID                                   69713 non-null  object
 1   Gender                               69713 non-null  object
 2   DOB                                  69698 non-null  datetime64[ns]
 3   Lead_Creation_Date                   69713 non-null  datetime64[ns]
 4   City_Code                            68899 non-null  object
 5   City_Category                        68899 non-null  object
 6   Employer_Code                        65695 non-null  object
 7   Employer_Category1                   65695 non-null  object
 8   Employer_Category2                   65415 non-null  float64
 9   Monthly_Income                       69713 non-null  float64
 10  Customer_Existing_Primary_Bank_Code  60322 non-null  object
 11  Primary_Bank_Type                    60322 non-null  object
 12  Contacted                            69713 non-null  object
 13  Source                               69713 non-null  object
 14  Source_Category                      69713 non-null  object
 15  Existing_EMI                         69662 non-null  float64
 16  Loan_Amount                          42004 non-null  float64
 17  Loan_Period                          42004 non-null  float64
 18  Interest_Rate                        22276 non-null  float64
 19  EMI                                  22276 non-null  float64
 20  Var1                                 69713 non-null  int64
 21  Approved                             69713 non-null  int64
dtypes: datetime64[ns](2), float64(7), int64(2), object(11)
memory usage: 11.7+ MB

In [ ]:
df['Approved'].unique()

array([0, 1])

In [ ]:
leads_created = df['Lead_Creation_Date'].count()

In [ ]:
contacted_leads = df[df['Contacted'] == 'Y']['Contacted'].count()

In [ ]:
approved_leads = df[df['Approved'] == 1]['Approved'].count()

In [ ]:
print(leads_created, contacted_leads, approved_leads)

69713 45275 1020

In [ ]:
df['Source_Category'].unique()

array(['G', 'B', 'C', 'E', 'F', 'D', 'A'], dtype=object)

In [ ]:
funnel_data = pd.DataFrame({
    'Funnel Stage': ['Leads Created', 'Contacted Leads', 'Approved Leads'],
    'Count': [leads_created, contacted_leads, approved_leads]
})

In [ ]:
funnel_data

      Funnel Stage  Count
0    Leads Created  69713
1  Contacted Leads  45275
2   Approved Leads   1020

In [ ]:
funnel_data.to_csv('funnel_data.csv', index = False)

In [ ]:
df.to_csv('cleaned_data.csv', index = False)